{% extends "base.html" %}

{% block body%}

<div class="container">
	<h2>Cardápio</h2>              
	<ul class="nav nav-pills jumbotron" role="tablist">
		<li class="active"><a href="/index/">Home</a></li>
		<li><a href="#">Alimentos</a></li>
		<li><a href="#">Preparações</a></li>
		<li><a href="#">Cardápios</a></li>        
	</ul>
</div>
<div class="container">
	<a href="/aux/"><button type="button" class="btn btn-info">Auxiliares</button></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% endblock %}