{% extends "base.html" %}

{% block body%}
<div class="container-fluid">
	<div class="container">
			<h2>Auxiliares</h2>           
			<a href="/addalimento/"><button type="button" class="btn btn-info">Adicionar</button></a>
			<h3>Lista de Preparações</h3>
		{% if p_list %}

		<div class="thumbnail col-sm-6">
		<!--	
			{% for a in p_list %}
			<ul class="list-group">
			<li class="list-group-item">{{ a.desc }} - 
				<a href="/editalimento/{{ a.id }}"> Editar</a> / 
				<a href="/deletealimento/{{ a.id }}"> Deletar </a>
			</li>
			</ul>
			{% endfor %}
		-->
		{% endif %} 
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% endblock %}